.signUp-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 1em;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5rem;
}

.signUp-form::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 158%;
  background-image: url('/src/images/signUpImage.jpg'); /* Update the path to your image */
  opacity: 0.5;
  z-index: -1;
  background-size: cover;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.sign {
  display: block;
  width: 80%;
  background-color: #02092D;
  padding: .2em;
  text-align: center;
  color: rgb(255, 255, 255);
  border: 2px solid #02092D;
  border-radius: 4em;
  font-weight: 600;
  margin-top: 2rem;
  text-transform: none;
  font-size: 1.8em;
}

.form-container {
  width: 50%;
  border-radius: 2em;
  background-color: rgb(255, 255, 255);
  padding: 9rem;
  color: #02092D;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.title {
  text-align: center;
  font-size: 3em;
  line-height: 2rem;
  font-weight: 700;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.form {
  margin-top: 1.5rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 10%;
}

.signup {
  text-align: center;
  font-size: 1em;
  line-height: 1rem;
  color: rgb(2, 9, 45);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 1em;
}

.input-group input {
  width: 80%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  border-top-color: rgb(55, 65, 81);
  border-right-color: rgb(55, 65, 81);
  border-bottom-color: rgb(55, 65, 81);
  border-left-color: rgb(55, 65, 81);
  outline: 0;
  background-color: rgb(255, 255, 255);
  padding: 0.75rem 4rem;
  color: #02092D;
  font-weight: 500;
  font-size: 1.8em;
  text-align: start;
  margin-top: 0.8em;
}

.input-with-image::placeholder {
  position: relative;
}

.input-with-image::before {
  content: "";
  background-image: url('/src/images/person-Icon.png'); /* Update the path to your image */
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.error-message {
  padding-top: .5em;
  color: red;
}

.input-container {
  position: relative;
}

.emailIcon,
.NameIcon,
.pwIcon,
.ConfirmIcon {
  position: absolute;
  top: 64%;
  transform: translateY(-50%);
  left: 5px;
  width: 4em;
}

.Eye, .ClosedEye {
  position: absolute;
  top: 64%;
  transform: translateY(-50%);
  left: 21.8em;
  width: 4em;
}
