


* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #ffffff;
    color: rgb(2, 9, 45);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: -8rem;
    padding: 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.navbar-logo {
    width: 40%;
    padding: 1.5rem;
}

.nav ul {
    padding: 0;
    margin-left: -53em;
    list-style: none;
    display: flex;
    gap: 2rem;
    font-family: "Roboto", sans-serif;
    margin-top: 2em;
}

.nav li a {
    color: #02092d;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav li a:hover {
    color: #858585;
}

.nav li {
    font-size: 1.8em;
    margin-top: .4em;
    color: #02092d;
}

.nav li.active {
    background-color: #555;
}

.nav li:hover {
    color: #858585;
}

.loginBtn {
    padding: .4em 2em;
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    color: #02092d;
    border: 3px solid #02092d;
    border-radius: 50px;
    background-color: #fff;
    margin-top: 2em;
    justify-content: center;
    align-content: center;
    margin-bottom: 1em;
    margin-right: 1em;
}

.loginBtn:hover {
    color: #fff;
    border: 3px solid #02092d;
    background-color: #C4A468;
}

.user-initial {
  margin-left: 10px; /* Adjust the margin as needed */
  font-size: 18px; /* Adjust the font size as needed */
  font-weight: bold;
  color: #fff; /* Adjust the color as needed */
  background-color: #3498db; /* Adjust the background color as needed */
  border-radius: 50%; /* Make it a circle */
  width: 36px; /* Adjust the width as needed */
  height: 36px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.createEventButton {
  background-color: #02092d; /* background */
  border: 2px solid #02092d;
  color: #fff; /* White text color */
}

.createEventButton:hover {
  background-color: #fff;
  border: 2px solid #02092d;/* hover */
  color: #02092d;
}

.createEventButton:active {
  background-color: #676B85;
  border: 2px solid #02092d;
  color: #fff;
  /* on active/click state */
}