<!DOCTYPE html>
<html>
<head>
    <title>Host Data</title>
</head>
<body>
    <h1>Host Data</h1>
    <table>
        <thead>
            <tr>
                <th>Host ID</th>
                <th>User ID</th>
                <th>Event ID</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.hostId }}</td>
                <td>{{ item.userId }}</td>
                <td>{{ item.eventId }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
