.wedding-details-header, h1{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    padding-left: 1.5rem;
}

.event-details-container{
 width: 480;
  height: 69em;
  grid-gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  border-radius: 30px;
  padding: 7em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.event-details-container form {
    margin-bottom: 20px;
    padding: 20px;
}

.details-group{
    margin-bottom: 10px;
    margin-top: 2px;   
}

.groom-group,
.bride-group{
    padding-bottom: 1rem;
}

    

.event-col1,
.event-col2{
    
    /* display: grid; */
    
    /* grid-gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center; */

    display: flex;
    justify-content: center; /* Adjust as needed */
    gap: 75px;
    padding-bottom: 7rem;
    
}

label{
    font-family: "Roboto", sans-serif;
  color: rgba(2, 9, 45, .45);
}
input, #country-id{
    width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
    border-top-color: rgb(55, 65, 81);
    border-right-color: rgb(55, 65, 81);
    border-bottom-color: rgb(55, 65, 81);
    border-left-color: rgb(55, 65, 81);
  border-top-color: rgb(55, 65, 81);
  border-right-color: rgb(55, 65, 81);
  border-bottom-color: rgb(55, 65, 81);
  border-left-color: rgb(55, 65, 81);
  border-top-color: rgb(55, 65, 81);
  border-right-color: rgb(55, 65, 81);
  border-bottom-color: rgb(55, 65, 81);
  border-left-color: rgb(55, 65, 81);
  outline: 0;
  background-color: rgb(255, 255, 255);
  padding: 0.75rem 4rem;
  color: #02092D;
  font-weight: 500;
  font-size: 1.8em;
  text-align: start;
  margin-top: 0.2em;
}


.add-guest-button{
    font-size: 7px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.home-tab-top-thingy ,
.other-tab-at-top {
    text-align: left;
    display: inline;
}
 
.topyoke{
    margin-top: 3rem;
    padding-left: 3rem;
}

h3 {font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  padding: 1em 0em 1em 0em;}
.home-tab-top-thingy {
    color: #02092D80;
    
}

.other-tab-at-top{
color:#02092D;
}

.createEvent-button{
  padding: .2em;
  font-size: 1.8em;
  width: 17em;
  margin-top: 1em;
}

.weddingDetails-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background-image: url(/src/images/createEventBackgroundImg.png);
    opacity: 0.5; /* Adjust the opacity value as needed */
    z-index: -1; /* Ensure this pseudo-element is behind other content */
    background-size: cover;
  }

.event-details-buttoncontainer{
    
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color:#D5D9E1 ; */
        /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

}

.Venue-deets {font-size: 1.8em; margin-bottom: 2em;}

.resetBtn{padding: .2em;
  padding: .2em;
  font-size: 1.8em;
  width: 17em;
  margin-top: 1em;
  border: 3px solid #02092d;
  color: #02092d;
  background: #fff;
}

.createBtn {font-size: 1.8em; 
            color: red;}

.venueIcon {position: absolute;
  top: 56%;
  transform: translateY(-50%);
  left: 5px;
  width: 4em;}

  .timeIcon {position: absolute;
  top: 56%;
  transform: translateY(-50%);
  left: 5px;
  width: 4em;}