/* General styles */
input#church-time,
#wed-time,
#date,
#respondByDate {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(55, 65, 81);
  padding: .3em 2.5em;
  color: #02092da7;
  font-weight: 500;
  font-size: 1.5em;
  text-align: start;
  margin-top: 0em;
  background-color: #fff;
  outline: none;
}

/* Focus styles */
input:focus,
select:focus,
.custom-input:focus {
  border: 2px solid #c4a468;
  outline: none;
}

/* Box shadow styles */
input,
select,
.custom-input {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* Hover styles */
input:hover,
select:hover,
.custom-input:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  outline: none;
}

label {
  margin-top: 1em;
  outline: none;
}

select#country-id {
  margin: 1em 0em 0em 0em;
  color: #02092d93;
  outline: none;
  font-size: 1.5em;
  padding: .5em 2.8em;
  border-radius: 4px;
}

.addEventHr {
  margin-top: 3em;
  color: #fff;
  border-radius: 4px;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

#venue-id {
  color: #02092d93;
  padding: .5em 0em .5em 2.80em;
  font-size: 1.5em;
}

input.custom-input {
  font-size: 1.5em;
}

.heading {
  padding-left: 0em;
  margin-top: 0em;
  font-size: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
}

.church-details1,
.host-form1 {
  width: 25em;
}

.host-form1 {
  margin-top: -4em;
}

.country-deets {
  color: #02092dd4;
}

.event-page-wrap {
  display: flex; /* Make it a flex container */
  flex-direction: column; /* Stack flex items into a column */
}

/* Media queries */
@media only screen and (max-width: 1241px) {
  .event-page-wrap {
    flex-direction: column; /* Ensure flex items stack into a column */
  }

  /* Adjust text size for smaller screens */
  input,
  select,
  .custom-input,
  .heading {
    font-size: 1.2em;
  }

  /* Adjust width for the second column container */
  .host-form2 {
    width: 100%; /* Ensure the container takes full width */
    margin-top: 2em; /* Add space between the two columns */
  }
}