/* Typography */
.wedding-details-header,
h1,
h3 {
  font-family: "Roboto", sans-serif;
}

.wedding-details-header,
h1 {
  font-weight: 350;
  padding-left: 1.5rem;
}

h3 {
  font-weight: 500;
  font-size: 1em;
  padding: 1em 0;
}

/* Form Styles */
.addGuestDetails-container form {
  margin-bottom: 20px;
  padding: 20px;
}

.addGuestDetails-container {
  background-color: #d5d9e1;
  border-radius: 30px;
  padding: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 3.5em 10%;
  min-height: 34em; /* Change height to min-height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Layout */
.event-col1,
.event-col2,
.event-col3 {
  display: flex;
  justify-content: center;
  gap: 75px;
  padding-bottom: 7rem;
}

.breadcrumb-container {
  margin-top: 3rem;
  padding-left: 3rem;
  display: flex;
}

/* Typography and Styling */
 label {
  color: rgba(2, 9, 45, 0.46);
    font-size: 1.8em;
    margin-bottom: 0;
    width: 100%;
    font-weight: 500;
    text-align: start;
}

input, select {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(55, 65, 81);
  padding: .3em 2.5em;
  color: #02092d;
  font-weight: 500;
  font-size: 1.8em;
  text-align: start;
  margin-top: 0.8em;
}

input, select:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* Breadcrumb Navigation */
.dash-breadcrumb,
.currentPage-breadcrumb {
  text-align: left;
  display: inline;
}

.dash-breadcrumb {
  color: #02092d80;
  text-decoration: none;
}

.currentPage-breadcrumb {
  color: #02092d;
  margin-top: 0;
  padding: 0.1em 0 0 .5em;
}

/* Buttons */
.addGuest-button,
.SendLinks-button {
  padding: 0.2em;
  font-size: 1.8em;
  width: 100%;
  margin-top: 0em;
  font-weight: 500;
}

.addGuest-button {
  margin-top: 3.7em;
}

.SendLinks-button {
  padding: 0.2em;
  font-size: 1.8em;
  width: 100%;
  margin-top: 9em;
  font-weight: 500;
}

.addNearlyWed-button{
  padding: 0.2em;
  font-size: 1.8em;
  width: 100%;
  margin-top: 0.5em;
  font-weight: 500;
}

.Eye, .ClosedEye {
  position: absolute;
  top: 64%;
  transform: translateY(-50%);
  left: 18.5em;
  width: 4em;
}

.deleteGuestIcon {
  position: absolute;
  top: 12%;
  transform: translateY(-50%);
  left: 10.75em;
  width: 4em;
  background: none;
  padding: 0;
  border: none;
  box-shadow: none;
  background: #02092D;
}

/* Background Image */
.weddingDetails-page::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/src/images/addGuestList.svg);
  opacity: 0.5;
  z-index: -1;
  background-size: cover;
}

/* Form Inputs */
#venue-id,
#address1-id,
#address2-id,
#address3-id,
#Zip-id,
#respondByDate,
#time,
#date {
  font-size: 1.5em;
}

#venue-id:focus,
#address1-id:focus,
#address2-id:focus,
#address3-id:focus,
#Zip-id:focus,
#respondByDate:focus,
#time:focus,
#date:focus {
  font-size: 1.5em;
  outline: none;
  border: 2px solid #c4a468;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* Form Input Hover */
#venue-id:hover,
#address1-id:hover,
#address2-id:hover,
#address3-id:hover,
#Zip-id:hover,
#respondByDate:hover,
#time:hover,
#date:hover,
input:hover {
  font-size: 1.5em;
  outline: none;
  border: 2px solid #c4a468;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#password-id {border-radius: 4px;}

/* Form Inputs in Input Group */
.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  border-top-color: rgb(55, 65, 81);
  border-right-color: rgb(55, 65, 81);
  border-bottom-color: rgb(55, 65, 81);
  border-left-color: rgb(55, 65, 81);
  outline: 0;
  background-color: rgb(255, 255, 255);
  padding: 0.75rem 4rem;
  color: #02092d;
  font-weight: 500;
  font-size: 1.8em;
  text-align: start;
  margin-top: 0.8em;
}

/* Form Input Group Styling */
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: calc(var(--bs-border-width) * -1);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* Form Added Guests Icon */
.guestListIcon {
  position: absolute;
  top: 8em;
  transform: translateY(-50%);
  left: 2em;
  width: 4em;
}

/* Form Column */
.form-column {
  width: 33.33%; /* Adjust the width to 33.33% for each column */
  float: left;
  padding: 2em;
  position: relative; /* Add position relative */
}

/* Vertical Separator Line */
.form-column:not(:last-child):after {
  content: "";
  position: absolute;
  top: 2em;
  right: 0;
  bottom: 5em;
  width: 2px; /* Width of the separator line */
  background-color: #fff; /* Color of the separator line */
  border-radius: 4px;
}

.addGuest-headings {
  font-size: 1.8em;
  margin-bottom: 0;
  width: 100%;
  font-weight: 500;
  text-align: start;
}

option {
  font-size: .8em;
  text-decoration-line: underline;
}

/* Error Messages */
.error {
  color: rgb(240, 0, 0);
  font-size: .8em;
  margin-bottom: 0.1em;
  width: 100%;
  font-weight: 700;
  text-align: start;
  background-color: #fff;
  border: 2px solid red;
  padding: 0.5em 0.5em;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  display: none; /* Hide error messages by default */
}

/* Show error messages when error occurs */
.error:not(:empty) {
  display: block;
}