.wedding-details-header,
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 350;
  padding-left: 1.5rem;
}

.event-page-wrap {



  flex-direction: row;
  justify-content: center;
  align-items: center;

  display: flex;
  gap: 75px;

}

.event-details-container {
  max-width: 480;
  max-height: 69em;
  grid-gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #D5D9E1;
  border-radius: 30px;
  padding: 7em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.event-details-container form {
  margin-bottom: 20px;
  padding: 20px;
}

.details-group {
  margin-bottom: 10px;
  margin-top: 2px;
}



/* .event-col1 {
  margin-bottom: 7.5rem;
} */

.event-col2{
  padding-bottom: 9rem;
}



label {
  font-family: "Roboto", sans-serif;
  color: rgba(2, 9, 45, .45);
}

input, #venue-id {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgb(55, 65, 81);
  padding: 1em 4rem;
  padding-left: 4rem;
  color: #02092D;
  font-weight: 500;
  font-size: 1em;
  text-align: start;
  margin-top: 0.2em;
}


.add-guest-button {
  font-size: 7px;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.home-tab-top-thingy,
.other-tab-at-top {
  text-align: left;
  display: inline;
}

.topyoke {
  margin-top: 3rem;
  padding-left: 3rem;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  padding: 1em 0em 1em 0em;
}


.home-tab-top-thingy {
  color: #02092D80;
}

.other-tab-at-top {
  color: #02092D;
}

.createEvent-button {
  padding: .2em;
  font-size: 1.8em;
  width: 10em;
  margin-top: 1em;
}

.weddingDetails-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 170%;
  background-image: url(/src/images/createEventBackgroundImg.png);
  opacity: 0.5;
  /* Adjust the opacity value as needed */
  z-index: -1;
  /* Ensure this pseudo-element is behind other content */
  background-size: cover;
}

.event-details-buttoncontainer {

  display: flex;
  align-items: center;
  justify-content: center;
  
  /* background-color:#D5D9E1 ; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

}

.Venue-deets,
.church-deets {
  font-size: 1.8em;
  margin-bottom: 3em;
  width: 100%;
  font-weight: 500;
  font-size: 1.8em;
  text-align: start;
}





.createBtn {
  font-size: 1.8em;
  color: red;
}

.venueIcon {
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  left: 5px;
  width: 4em;
}


.timeIcon {
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  left: 5px;
  width: 4em;
}

input:hover {
  outline: #C4A468;
}

  hr {
    border-top: 1.5px solid #FAFAFA;
    margin-top: 3.5em;
    margin-bottom: 3.5em;
}


.icon {
  position: relative;
  display: flex;
  align-items: center;
}

.icon svg {
  width: 20px; /* Adjust the size of the SVG */
  height: 20px;
  margin-right: 5px; /* Adjust spacing between SVG and input */
  opacity: 50%;
}




.input-container .icon {
  position: absolute;
  left: 10px; /* Adjust the distance from the input box */
  top: 50%;
  transform: translateY(-50%);
}


