.header-wrap-dash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Optional: align items vertically */
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

h1 {
    font-family: "Vidaloka", serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 1em 0em 0em 0em;
  margin-bottom: -1em;
  margin-top: 2em;
}

.header-wrap-dash h3,
.header-wrap-dash h1 {
    margin: 0;
    /* Optional: removes default margin */
}

.dash-sidebar {
  background-color: #D5D9E1;
  width: 16.69em;
  height: 57.31em;
  padding: 20px;
  box-sizing: border-box;
  float: left;
  border-radius: 30px;
  margin-top: 2rem;
}

.side_bar {
  list-style-type: none;
  padding: 0;
  margin-top: 2.5em;
}

.dash-sidebar li:last-child {
   border-bottom: none;
}

.sideBarItems, .dashlogout{
  color: #02092D;
  font-weight: 500;
  padding: .5em .5em .5em 3em;
  border-radius: 4px;
  text-align: left;
  margin-left: 1em;
  width: 13em;
  cursor: pointer;
}

.sideBarItems:hover,
.dashlogout:hover{background-color:#fff;
border-radius:4px;
width: 13em;
background-color: #fff;}

.dash-mainbox {
  background-color: #D5D9E1;
  width: 73em;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 30px;
  margin-right: -15.5rem;
  margin-top: 2rem;
  height: 57.31em;
  margin-left: 18em;
  margin-bottom: 10em;
}

.sendButton-dash {

  font-size: .8em;
  padding: .5em 1em;
  margin-left: 1rem;
  letter-spacing: 0px;
  font-weight: 500;
}
.sendButton-dash:hover {
    background-color: #676B85;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(0);

}

.createEvent-Button1 {
  text-align: center;
  width: 16em;
  height: 10em;
  border-radius: 30px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FAFAFA;
  margin-left: -1.5em;
  border: 0px solid #02092D;
}

.dash-createEvent {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align: center; */
    padding-left: 5rem;
}

.dash-recentPosts {
    padding-left: 2.8em;

}

.posts {width: 100%;margin-bottom: -1em;
}

.createEvent-box-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    /* Adjust max-width as needed */
    margin-top: 20px;
    /* Adjust margin as needed */

}


.createEvent-Button1:hover {
    background-color: #FAFAFA;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    color: #FAFAFA;
    transform: translateY(0);

}

.commentbox-dash {
  background-color: #ffffff;
  border-radius: 10px;
  height: 12rem;
  width: 67em;
  margin-top: 1rem;
  margin-bottom: -1em;
}

.commentBox {
  margin-top: 7rem;
  margin-left: 7rem;
  width: 300px;
  height: 1.25em;
  padding-left: 2.5rem;
  color: #676B85;
  background-image: url(/src/images/comment-2.png);
  background-repeat: no-repeat;
  background-position: .5rem;
}

.commentBox:active {
  border:2px solid #C4A468;
}

.commentBox:hover {
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.commentBox:focus {
 border:2px solid #C4A468;
 box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 outline:none;/* Remove the default outline */
  /* Add any other custom styling for the focused state */
}
input, #country-id {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgb(55, 65, 81);
  padding: 1em 4rem;
  padding-left: 4rem;
  color: #02092D;
  font-weight: 500;
  font-size: 1em;
  text-align: start;
  margin-top: 0.2em;
}

.dash-commentboxSprites {
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;

}

.dashcomment-likeBefore {

    padding-right: 1rem;
}

hr{
    border: 2px solid #fff;
    
}

.dashSprite-imageslist{
  position: absolute;
  left: 3em;
}

.commentdash-line{
  margin-top: 2em;
  width: 67em;
  margin-right: 12rem;
  color: #fff;
  margin-bottom: 0em;
}

.dashlogout {
  margin-top: 16rem;
}

.weddingNames {
  
  font-size: 2.5em;
  padding: 0px;
  position: absolute;
  left: 8.9em;
}

h3.createEvent {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  padding: 1em 0em 0em 0em;
  margin-left: -2em;
  margin-bottom: 0;
}

.posts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  padding: 1em 0em 0em 0em;
  margin-left: 0em;
  margin-bottom: -1em;
}
 /* Add a specific class to style the "My Dashboard" link */
.side_bar .myDashboard:hover {
  background-color: #676B85;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.side_bar .myDashboard {
  color: #fff;
  font-weight: bold;
  background-color: #02092D;
  padding: .5em .5em .5em 2.5em;
  border-radius: 4px;
  text-align: center;
  margin-left: 1em;
  width: 13em;
}

.dropdownIcon {
  margin: .0em 1em .09em .5em;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0.1em;
  margin-left: 0.8em;
}

/* Right nav dashboard btns */
 
.profileCircle{
  font-size: 1em;
  color: #fff;
  padding: 1em 1.2em;
  margin-top: 4em;
  margin-left: 25em;
  margin-right: 3em;
  background-color: #D5D9E1;
  color: #02092D;
}

.notifications{
  font-size: 1em;
  color: #fff;
  padding: .5em .7em;
  margin-top: -.8em;
  margin-left: -2em;
  margin-right: 0em;
  position: absolute;
  top: 4.8em;
  background: none;
}