.main-footer {
  color: #fff;
  background-color: #676B85;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  margin: 0em 0em 0em 2em;
  padding-left: 0rem;
  padding-bottom: 7rem;
}

.col {
  flex: 1;
  padding: 0 15px;
}

.col-small {
  flex-basis: 100%;
  text-align: center;
}

h4 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

ul li a {
  color: #ffffff; /* Default text color */
  transition: color 0.3s ease; /* Smooth transition effect */
  text-decoration: none;
}

ul li a:hover {
  color: #c4a468; /* Gold color on hover */
}

p {
  margin: 0;
}

.footerLogo {
  width: 184px;
  height: 57px;
  margin-right: 2em;
}

.copyRight {
  color: #fff; /* Example text color */
  font-size: .8em; /* Example font size */
  /* Add other styles as needed */
}
