/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

/* General Styles */
body {
  background-color: #D5D9E1;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

header {
  text-align: center;
}

.headerH1 {
  font-family: "Vidaloka", "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 2em;
  padding-right: 2.5em;
  padding-bottom: 0em;
  padding-left: 2.1em;
  text-align: left;
  margin-bottom: 0;
}

.getToKnow {
  width: 38em;
  padding: 1em 4em 4em;
}

.button-div {
  text-align: center;
  margin-bottom: 2em;
}

/* Home Page Styles */
.home-container {
  display: flex;
  align-items: center; /* Center items vertically */
}

.home-pageDiv {
  background-color: #D5D9E1;
  width: 50%;
  margin-left: 9.5em;
  height: 555px;
  flex: 1;
  max-width: 616px;
  margin-top: 2.5em;
  margin-bottom: 2em;
}

/* SimpleSlider (Carousel) Styles */
.slick-slider {
  width: 100%; /* Adjust the width of the carousel */
}

.carousel-images {
  margin-top: 0em;
  margin-bottom: 0em;
  height: 557px;
}

img {
  margin-top: -.45em;
  border-radius: 0;

}
/* Media Queries */
@media screen and (max-width: 1375px) {
  .home-pageDiv {
    width: 90%; /* Adjust width for smaller screens */
    margin-left: auto;
    margin-right: auto;
  }

  .home-container {flex-direction: column;}

  .headerH1 {
    font-family: "Vidaloka", "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 2em;
    padding-right: 2.5em;
    padding-bottom: 0em;
    padding-left: 2.1em;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  img {width: 100%; height: 40%;}

  .getToKnow {margin-top: 0;
  margin-bottom: 1em;}
  .slick-slider {
    width: 100%; /* Full width for smaller screens */
    margin-top: 2em; /* Add margin to separate carousel from other content */
  }
}
/* Media Queries */
@media screen and (max-width: 1070px) {
  .home-pageDiv {
    width: 90%; /* Adjust width for smaller screens */
    margin-left: auto;
    margin-right: auto;
  }
  
  .slick-slider {
    width: 100%; /* Full width for smaller screens */
    margin-top: 2em; /* Add margin to separate carousel from other content */
  }
}

@media screen and (max-width: 768px) {
  .headerH1 {
    font-size: 2rem;
  }
  
  .getToKnow {
    width: 100%;
    padding: 1em;
  }
}

@media screen and (max-width: 460px) {
  .headerH1 {
    font-size: 1.5rem;
  }
  
.getStarted, .loginBtn {
  padding: 1em 2.5em;
  font-size: 1em;}

  .nav li a {font-size: 1em;}

  .getToKnow {
    width: 100%;
    padding: 1em;
    font-size: .8em;
  }
}