/* Overall Navbar Styles */
.nav {
  background-color: #ffffff;
  color: rgb(2, 9, 45);
  display: flex; /* Change display to flex for horizontal layout */
  align-items: center; /* Center content vertically */
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  padding: 1rem 2rem; /* Add some padding for aesthetics */
}

/* Logo Styles */
.navbar-logo {
  width: 184px;
  height: 57px;
  margin-right: 2em;
}

/* Navigation Links Styles */
.nav ul {
  padding: 0px;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-family: Roboto, sans-serif;
  margin: 1.8em 0em 0em 0em;
}

.nav li a {
  color: #02092d;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav li a:hover {
  color: #858585;
}

.nav li {
  font-size: 1.8em;
  color: #02092d;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  color: #858585;
}

/* Login Button Styles */
.loginBtn {
  padding: .4em 1em;
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  color: #02092d;
  border: 3px solid #02092d;
  border-radius: 50px;
  background-color: #fff;
  margin: 0em 0em 0em 16.5em;
}

.loginBtn:hover {
  color: #fff;
  border: 3px solid #02092d;
  background-color: #C4A468;
}

.user-initial {
  margin-left: 10px; /* Adjust the margin as needed */
  font-size: 18px; /* Adjust the font size as needed */
  font-weight: bold;
  color: #fff; /* Adjust the color as needed */
  background-color: #3498db; /* Adjust the background color as needed */
  border-radius: 50px; /* Make it a circle */
  width: 36px; /* Adjust the width as needed */
  height: 36px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Menu Styles */
.menu-icon {
  display: none; /* Hide hamburger menu initially */
  width: 30px;
  height: 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.menu-icon span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #02092d;
  margin-bottom: 5px;
}

.menu-icon span:nth-child(2) {
  margin-bottom: 0;
}

/* Media Query for Responsive Behavior */
@media (max-width: 1700px) {

  .loginBtn {
    padding: 0.4em 1em;
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    color: #02092d;
    border: 3px solid #02092d;
    border-radius: 50px;
    background-color: #fff;
    margin: 0em 0em 0em 22.5em;
  }
  }
/* Media Query for Responsive Behavior */
@media (max-width: 1700px) {

  .loginBtn {
    padding: 0.4em 1em;
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    color: #02092d;
    border: 3px solid #02092d;
    border-radius: 50px;
    background-color: #fff;
    margin: 0em 0em 0em 22.5em;
  }
  }
/* Media Query for Responsive Behavior */
@media (max-width: 1550px) {

.loginBtn {
  padding: 0.4em 1em;
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  color: #02092d;
  border: 3px solid #02092d;
  border-radius: 50px;
  background-color: #fff;
  margin: 0em 0em 0em 18.2em;
}
}
/* Media Query for Responsive Behavior */
@media (max-width: 1410px) {

  .loginBtn {
    padding: 0.4em 1em;
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    color: #02092d;
    border: 3px solid #02092d;
    border-radius: 50px;
    background-color: #fff;
    margin: 0em 0em 0em 13em;
  }
  }
/* Media Query for Responsive Behavior */
@media (max-width: 1300px) {

  .loginBtn {
    padding: 0.4em 1em;
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    color: #02092d;
    border: 3px solid #02092d;
    border-radius: 50px;
    background-color: #fff;
    margin: 0em 0em 0em 12em;
  }
  }
  /* Media Query for Responsive Behavior */
@media (max-width: 1235px) {

  .loginBtn {
    padding: 0.4em 1em;
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    color: #02092d;
    border: 3px solid #02092d;
    border-radius: 50px;
    background-color: #fff;
    margin: 0em 0em 0em 6em;
  }
  }
/* Media Query for Responsive Behavior */
@media (max-width: 1070px) {
  .nav {
    flex-wrap: wrap; /* Wrap elements on smaller screens */
    justify-content: center; /* Center navbar content horizontally */
  }
  .nav ul,
  .loginBtn {
    width: 100%; /* Links and button take full width on small screens */
    display: block;
  }
  .nav ul {
    margin-top: 1rem; /* Add some space between logo and links */
    text-align: center; /* Center nav links horizontally */
  }
  .nav li a {
    color: #02092d;
    text-decoration: none;
    height: 100%;
    display: block;
    align-items: center;
}
.nav li a:hover {
 
  text-decoration: none;
  height: 100%;
  display: block;
  align-items: center;
  background-color: #676B85;
  color: #fff;
}

  .loginBtn {
    margin-top: 1rem; /* Add top margin for login button */
    margin-left: 0; /* Remove left margin for button on small screens */
  }
  .menu-icon {
    display: flex; /* Show hamburger menu on small screens */
  }
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: Roboto, sans-serif;
  --bs-btn-font-size: 1.5rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: #02092d;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: #02092d;
  --bs-btn-border-radius: 50px;
  --bs-btn-hover-border-color: #02092d;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 0, 0, 0.15),0 1px 1px rgba(255, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: none;
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
    padding: .5em 3em;
    margin: 1.2em 0em 0em 16em;

}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #02092D;
  --bs-btn-border-color: #02092D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c2a369;
  --bs-btn-hover-border-color: #02092D;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #676B85;
  --bs-btn-active-border-color: #676B85;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #a0a0a0;
  --bs-btn-disabled-border-color: #a0a0a0;

}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity)) !important;
}